@using NemesisNevulaGen.ApplicationCore.Enumerated.NemesisNevula
@model NemesisNevulaWeb.Models.TarjetaCreditoVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TarjetaCreditoVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreEnTarjeta" class="control-label"></label>
                <input asp-for="NombreEnTarjeta" class="form-control" />
                <span asp-validation-for="NombreEnTarjeta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoSeguridad" class="control-label"></label>
                <input asp-for="CodigoSeguridad" class="form-control" />
                <span asp-validation-for="CodigoSeguridad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaExpedicion" class="control-label"></label>
                <input asp-for="FechaExpedicion" class="form-control" />
                <span asp-validation-for="FechaExpedicion" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TipoTarjeta, "Tipo de Tarjeta", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.TipoTarjeta, Enum.GetValues(typeof(TipoTarjetaEnum)).Cast<TipoTarjetaEnum>().Select(v => new SelectListItem
               {
                   Text = v.ToString(),
                   Value = ((int)v).ToString()
               }), "Seleccione un tipo de tarjeta", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TipoTarjeta, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
