﻿
@model NemesisNevulaWeb.Models.CompraVM

@{
    ViewData["Title"] = "Create";
    IEnumerable<SelectListItem> listUsers = (IEnumerable<SelectListItem>)ViewData["listUsers"];

    string formatearPrecio(float precio)
    {
        return precio.ToString("F2") + " €";
    }
}

<div class="container mt-5">
    <h1 class="text-center text-warning text-uppercase">Confirmación de compra</h1>
    <h4 class="text-center">Comprueba que tus datos de compra son correctos</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-light shadow bg-dark">
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-sm-12 mb-4">
                            @if ((bool)ViewData["regalo"])
                            {
                                <div><strong>Artículo a regalar:</strong></div>
                                <input name="regalo" type="number" value="1" hidden />
                            }
                            else
                            {
                                <div><strong>Artículo a comprar:</strong></div>
                                <input name="regalo" type="number" value="0" hidden />
                            }
                            <div>@ViewData["nom_art"]</div>
                        </div>
                        @if ((bool)ViewData["regalo"])
                        {
                            <b>¿A quien quieres regalárselo?:</b>
                            <br />
                            <div class="form-group">
                                <select class="form-select" id="usuarioReceptor" name="usuarioReceptor" asp-items="listUsers">
                                </select>
                            </div>
                            <br />
                        }
                        <b>Precio total:</b><br />
                        <span>@formatearPrecio(Model.PrecioTotal)</span>
                        <br /><br />
                        <div class="form-group" hidden>
                            <label asp-for="PrecioTotal" class="control-label"></label>
                            <input asp-for="PrecioTotal" class="form-control" />
                            <span asp-validation-for="PrecioTotal" class="text-danger"></span>
                        </div>
                        <label for="descuento"><b>¿Quieres aplicar un descuento?</b> </label>
                        <input class="btn btn-aceptar" name="desc" type="checkbox" id="descuento" />
                        <br /><br />
                        @if ((bool)ViewData["suficiente"])
                        {
                            <div class="form-group d-flex justify-content-center">
                                <div class="p-1">
                                    <input type="submit" value="Aceptar" class="btn btn-aceptar" />
                                </div>
                                <div class="p-1">
                                    <a asp-action="Index" class="btn btn-cancelar">Cancelar</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group d-flex justify-content-center">
                                <div class="p-1">
                                    <p class="text-danger">¡No tienes saldo suficiente!</p>
                                </div>
                            </div>
                            <div class="p-1">
                                <a asp-action="Index" class="btn btn-cancelar">Cancelar</a>
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}