@model NemesisNevulaWeb.Models.CompraVM

@{
    ViewData["Title"] = "Create";
    IEnumerable <SelectListItem> usuariosItems = (IEnumerable<SelectListItem>)ViewData["usuariosItems"];
    IEnumerable <SelectListItem> articulosItems = (IEnumerable<SelectListItem>)ViewData["articulosItems"];

    string formatearPrecio(float precio)
    {
        return precio.ToString("F2") + " €";
    }

}

<style>

</style>

<h1 class="text-center text-warning text-uppercase">Confirmación de compra</h1>

<h4 class="text-center">Comprueba que tus datos de compra son correctos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <b>Fecha de compra:</b><br />
            <span>@Model.Fecha.ToShortDateString()</span>
            <br /><br />
            <div class="form-group" hidden>
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control"/>
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>

            <b>Precio total:</b><br />
            <span>@formatearPrecio(Model.PrecioTotal)</span>
            <br /><br />
            <div class="form-group" hidden>
                <label asp-for="PrecioTotal" class="control-label"></label>
                <input asp-for="PrecioTotal" class="form-control" />
                <span asp-validation-for="PrecioTotal" class="text-danger"></span>
            </div>

            <label for="descuento"><b>¿Quieres aplicar un descuento?</b> </label>
            <input class="btn btn-aceptar" name="desc" type="checkbox" id="descuento" />
            <br /><br />
            
            <div class="form-group" hidden>
                <label asp-for="IdComprador" class="control-label"></label>
                <select class="form-select" asp-for="IdComprador" asp-items="usuariosItems"></select>
                <span asp-validation-for="IdComprador" class="text-danger"></span>
            </div>

            <div class="form-group" hidden>
                <label asp-for="IdArticulo" class="control-label"></label>
                <select class="form-select" asp-for="IdArticulo" asp-items="articulosItems"></select>
                <span asp-validation-for="IdArticulo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Aceptar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
