@model IEnumerable<NemesisNevulaWeb.Models.NoticiaVM>

@{
    string acortarDescripcion(string desc)
    {
        if(desc.Length > 100)
        {
            return desc.Substring(0, 100) + "...";
        }
        return desc;
    }

    string obtenerURI(string url)
    {
        string uri = url.Substring(1).Split('/')[0];
        return uri == "" ? "Index" : uri;
    }

    int alternarCSS(string url)
    {
        switch(obtenerURI(url))
        {
            case "Index":
                return 4;
            case "Articulo":
                return 12;
            case "Noticia":
                return 12;
            default:
                return 4;
        }
    }

    int numNoticias(string url)
    {
        switch(obtenerURI(url))
        {
            case "Articulo":
                return 2;
            case "Noticia":
                return 4;
            default: return -1;
        }
    }

    var i = 0;
}

<style>
    .card {
        transition: transform 0.3s ease-in-out;
    }

    .card:hover{
            background-color: #584383 !important;
            transform: translateY(-10px);
    }
        .card:hover .card-body {
        
        background-color: #584383 !important;
    }

    @@keyframes moveUp {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-5px);
        }
        100% {
            transform: translateY(0);
        }
    }

    .animated-card {
        animation: moveUp 1s ease; /* Agregar la animación al elemento */
    }
</style>

<div class="container">
    <h1 style="text-align:center;">Noticias</h1>
    <hr/>
    <div class="row">
        @foreach (var item in Model)
        {
            @if(item.EsPublicada == true)
            {
               @if (numNoticias(ViewContext.HttpContext.Request.Path) == i)
            {
                break;
            }
            <div class="col-md-@alternarCSS(ViewContext.HttpContext.Request.Path) mb-4">
                <a href="@Url.Action("Details", "Noticia", new { id = item.Id })" class="">
                    <div class="card animated-card">
                        <img src="~/css/estilos/imagenes/@item.Foto" class="card-img-top" alt="Imagen de la noticia">
                        <div class="card-body bg-dark">
                            <h4 class="card-title text-warning" style="text-transform: uppercase;">@item.Titulo</h4>
                            <p class="card-text" style="color:white;">@acortarDescripcion(@item.Descripcion)</p>
                        </div>
                    </div>
                </a> 
            </div>
            i++; 
            }
            
        }
    </div>



