@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-warning">Error.</h1>
<h2 class="text-warning">¡Vaya! Parece que se ha producido un error...</h2>
<hr />

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID de la petición:</strong> <code>@Model.RequestId</code>
    </p>
}

<div class="d-flex justify-content-center m-5">
    <a class="btn btn-aceptar m-1" href="@Url.Action("Index","Home")">Volver a inicio</a>
    <a class="btn btn-aceptar m-1" href="@Url.Action("Contacto","Home")">Contactános</a>
</div>
