@{
    ViewData["Title"] = "Mis métodos de pago";
}

<h1 class="text-warning d-flex justify-content-center">Métodos de pago</h1>


<h2>Paypal</h2>
<hr />
@await Html.PartialAsync("_PaypalParcial", (IEnumerable<NemesisNevulaWeb.Models.PaypalVM>)Model.Item1)
<h2>Tarjetas de crédito</h2>
<hr />
@await Html.PartialAsync("_TarjetaParcial", (IEnumerable<NemesisNevulaWeb.Models.TarjetaCreditoVM>)Model.Item2)
