
@{
    ViewData["Title"] = "Mis métodos de pago";
}

<h1>Métodos de pago</h1>

<a class="btn btn-aceptar m-2 mb-1" href="@Url.Action("AnyadirFondos")">Agregar Fondos</a>
<div class="col">
@await Html.PartialAsync("_PaypalParcial", (IEnumerable<NemesisNevulaWeb.Models.PaypalVM>)Model.Item1)
@await Html.PartialAsync("_TarjetaParcial", (IEnumerable<NemesisNevulaWeb.Models.TarjetaCreditoVM>)Model.Item2)

