@{
    ViewData["Title"] = "PremiumActualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="position-relative d-flex align-items-center justify-content-center">
    <img class="img-fluid" alt="" src="~/css/estilos/imagenes/contactanos.jpeg" class="accordion-header" style="width:100%" />
    <h1 class="text-center position-absolute bottom-0 p-4 bg-black bg-gradient rounded-2 fw-bold" style="color:lawngreen;">¡Pásate a Premium!</h1>
</div>
<div class="mt-xxl-5">
    <h3 class="text-center">Descubre todas nuestras novedades para los usuarios más exclusivos</h3>
</div>


<div class="row container">
    <div class="card col-sm bg-dark mx-lg-3">
        <div class="card-header text-center text-warning">
            <h5 class="card-title fw-bold " style="color:lawngreen;">Futuros eventos</h5>
        </div>
        <div class="card-body text-center">
            <p class="card-text">En el futuro organizaremos torneos solo para usuarios premium</p>
        </div>

    </div>
    <div class="card col-sm bg-dark text-white mx-lg-3">
        <div class="card-header text-center text-warning">
            <h5 class="card-title fw-bold" style="color:lawngreen;">Artículos exclusivos</h5>
        </div>
        <div class="card-body text-center">
            <p class="card-text">¡Podrás acceder a artículos exclusivos para usuarios premium!</p>
        </div>

    </div>
    <div class="card col-sm bg-dark text-white mx-lg-3">
        <div class="card-header text-center text-warning">
            <h5 class="card-title fw-bold" style="color:lawngreen;">Prioridad en las partidas</h5>
        </div>
        <div class="card-body text-center">
            <p class="card-text">Podrás acceder más rápidamente a tus partidas favoritas.</p>
        </div>

    </div>
</div>


