@{
    ViewData["Title"] = "Index";

}


<style>
    .card {
        transition: transform 0.3s ease-in-out;
    }

        .card:hover {
            background-color: #584383 !important;
            transform: translateY(-10px);
        }

            .card:hover .card-body {
                background-color: #584383 !important;
            }

    @@keyframes moveUp {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-5px);
        }

        100% {
            transform: translateY(0);
        }
    }

    .animated-card {
        animation: moveUp 1s ease; /* Agregar la animación al elemento */
    }
</style>

<div class="titulo" style="text-align:center;">
    <h1>¡Bienvenido a la tienda virtual de Nemesis Nevula!</h1>
    <h2>Descubre nuestras novedades</h2>
</div>


@await Html.PartialAsync("_CarouselNoticiaParcial", (IEnumerable<NemesisNevulaWeb.Models.NoticiaVM>)Model.Item1)
@await Html.PartialAsync("_NoticiasParcial", (IEnumerable<NemesisNevulaWeb.Models.NoticiaVM>)Model.Item1)
