@{
    ViewData["Title"] = "Política de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacinia purus at arcu luctus, id ullamcorper turpis pharetra. Aenean in justo eleifend, dignissim sem in, dictum diam. Sed eu leo tortor. Nunc quis sem quis lectus ornare luctus at sit amet turpis. Aliquam porttitor aliquet pretium. Proin blandit, metus eget pretium sagittis, libero risus tempus arcu, ut sodales eros lorem quis nisi. Aenean vitae sodales arcu. Vestibulum placerat ex ac ligula pharetra, non faucibus tellus molestie.
<p>

<p>
    Sed in diam sed nisl posuere rutrum. Maecenas eu dui mollis, sollicitudin dui et, sollicitudin felis. Pellentesque ultricies massa non turpis mattis, vitae laoreet sem tincidunt. Vestibulum sollicitudin tempor nulla, vitae rhoncus nibh mattis sit amet. Donec vel efficitur mi. Sed rhoncus, lorem a posuere congue, odio arcu lobortis nisl, id vestibulum risus lacus bibendum purus. Sed in ex vitae tellus pharetra mattis. Cras condimentum dui at nisi dapibus, vel convallis erat varius. Nulla odio diam, facilisis a diam id, sodales aliquam erat. Maecenas vulputate tellus nec massa tincidunt dictum.
</p>
<p>
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent sit amet porttitor quam. Suspendisse potenti. Etiam vel ipsum eget justo fermentum cursus ut quis quam. Etiam ut metus libero. Duis maximus, eros vel rhoncus finibus, purus lacus mollis mi, sed convallis felis tortor vitae ipsum. Suspendisse at porttitor ante. Donec ornare ligula tristique, egestas sapien at, suscipit nunc. Morbi a posuere ex. Morbi dapibus sodales ex. In tellus ante, malesuada vel mauris ac, egestas accumsan ex. Etiam at condimentum massa. Pellentesque felis dolor, malesuada at maximus in, vulputate ornare eros. Sed tempor dictum arcu, sit amet tempus nisl pellentesque varius. Fusce non aliquet mi, id ultricies tellus.
</p>
<p>
    Phasellus eleifend lobortis quam, eget fermentum massa consequat ac. Nulla orci nisl, iaculis sed orci non, faucibus interdum augue. Sed sit amet dolor ultricies, auctor nunc non, ultricies ligula. Maecenas enim lorem, blandit id massa sit amet, auctor egestas erat. Suspendisse et blandit sapien. Vivamus dictum felis eget enim scelerisque congue et id enim. In laoreet lorem ligula, ac gravida quam tincidunt nec. Ut vestibulum, nulla non cursus eleifend, odio libero egestas neque, vitae iaculis lectus eros non est. Aliquam malesuada posuere libero ac porta. Nam posuere molestie est, quis mollis erat. Proin vehicula diam mauris, eu consectetur urna luctus in.
</p>
<p>
    Praesent commodo feugiat commodo. In varius tellus a odio placerat, in aliquet est dictum. Pellentesque id turpis tristique enim pretium eleifend. Donec dignissim sed nulla at bibendum. Donec eu ornare lectus. Maecenas rhoncus efficitur massa. Donec in cursus nunc. Etiam at dui aliquam, malesuada felis pretium, tristique dui. Donec gravida tristique tempor. Suspendisse tellus arcu, sodales ac enim et, venenatis fermentum arcu. Mauris a dui iaculis, tincidunt nisi ut, faucibus risus. Donec diam massa, consequat vitae enim vitae, porta fermentum turpis. Donec mauris magna, placerat vitae accumsan at, ultrices eu dolor. Suspendisse vitae viverra nisi, sed blandit velit. Sed laoreet convallis aliquet. Nam tempor nisl neque, vitae dignissim lacus congue sit amet.
</p>
