@model Tuple<NemesisNevulaWeb.Models.NoticiaVM, IEnumerable<NemesisNevulaWeb.Models.NoticiaVM>>

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Item1.Titulo);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .text-noticia {
        text-align: justify;
    }

    .imagen-en-marco {
        max-width: 100%;
        height: auto;
        border: 10px solid white;
        filter: brightness(80%) grayscale(20%);
    }
</style>

<div class="container-fluid d-flex flex-row">
    <div class="d-flex flex-column w-100">
        <h2>@Html.DisplayFor(model => model.Item1.Titulo)</h2>
        <img class="imagen-en-marco" src="~/css/estilos/imagenes/@Html.DisplayFor(model => model.Item1.Foto)" alt="@Html.DisplayFor(model => model.Item1.Titulo)" />
        
        <p class="text-noticia" style="white-space: pre-line;">@Html.DisplayFor(model => model.Item1.Descripcion)</p>
    </div>
    <div class="w-25">
        @await Html.PartialAsync("_NoticiasParcial", (IEnumerable<NemesisNevulaWeb.Models.NoticiaVM>)Model.Item2)
    </div>
</div>
