@model Tuple<NemesisNevulaWeb.Models.NoticiaVM, IEnumerable<NemesisNevulaWeb.Models.NoticiaVM>>

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Item1.Titulo);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .text-noticia {
        text-align: justify;
    }

    .imagen-en-marco {
        max-width: 750px;
        height: auto;
        filter: brightness(80%) grayscale(20%);
        display: block; 
      
    }

    .clase {
        justify-content: center;
    }

    hr {
        width: 100%;
        margin: 10px 0; /* Ajusta el margen superior e inferior según sea necesario */
    }
</style>

<div class="container-fluid d-flex flex-row clase">
    <div class="d-flex flex-column w-100 m-3 align-items-center">
        
        <h1 style="text-align:center; text-transform: uppercase;" class="text-warning">@Html.DisplayFor(model => model.Item1.Titulo)</h1>
        <hr />

        <img class="imagen-en-marco m-3 mx-auto" src="~/css/estilos/imagenes/@Html.DisplayFor(model => model.Item1.Foto)" alt="@Html.DisplayFor(model => model.Item1.Titulo)" />

        <p class="text-noticia" style="white-space: pre-line; font-size:large;">@Html.DisplayFor(model => model.Item1.Descripcion)</p>
    </div>
    <div class="w-25">
        @await Html.PartialAsync("_NoticiasParcial", (IEnumerable<NemesisNevulaWeb.Models.NoticiaVM>)Model.Item2)
    </div>
</div>
