@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&family=Jura:wght@300&family=Tilt+Neon&display=swap');

body {
    color: white;
    background-color: black;
    font-family: 'Jura', sans-serif;

}

a {
    text-decoration: none;
    color: yellow;
}
a:hover {
    text-decoration: none;
    color: white;
}

.navbar {
    color: white;
    background-color: black;
}

.logotipo {
    width:200px;
    height:58px;
}

.nav-item .nav-link:hover {
    color: yellow;
    border-bottom: 1px solid yellow;
}

.btn-aceptar {
    background-color: yellow;
    color: black !important;
    font-weight: bolder;
}

.btn-cancelar {
    background-color: mediumpurple;
    color: white !important;
    font-weight: bolder;
}

.btn-aceptar:hover, .btn-cancelar:hover{
    background-color: black;
    border: 1px solid white;
    color: white !important;
    font-weight: bolder;
}

.nav-activo {
    color:yellow !important;
}

.tiny-etiqueta {
    border-radius: 5px;
    color: white;
    height: fit-content;
    padding: .2em;
}

.valoracion-0::after {
    font-size: larger;
    color: yellow;
    content: '☆☆☆☆☆';
}

.valoracion-1::after {
    font-size: larger;
    color: yellow;
    content: '★☆☆☆☆';
}

.valoracion-2::after {
    font-size: larger;
    color: yellow;
    content: '★★☆☆☆';
}

.valoracion-3::after {
    font-size: larger;
    color: yellow;
    content: '★★★☆☆';
}

.valoracion-4::after {
    font-size: larger;
    color: yellow;
    content: '★★★★☆';
}

.valoracion-5::after {
    font-size: larger;
    color: yellow;
    content: '★★★★★';
}

.color-Comun {
    font-weight: bolder;
    background-color: mediumpurple;
}
.color-Raro {
    font-weight: bolder;
    color: black;
    background-color: aqua;
}
.color-Legendario {
    font-weight: bolder;
    background-color: orange;
}
.color-Premium {
    font-weight: bolder;
    color: black;
    background-color: lawngreen;
}

.precio {
    background-color: yellow;
    color: black;
}