
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@{
    ViewData["Title"] = "Actualízate a Premium";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-warning">¿Quieres subir al siguiente nivel?</h1>
<hr />
<h3 class="text-center">Estás a un paso de ser uno de pocos...</h3>

<p class="text-center">¡Por tan solo <span class="text-warning fw-bolder">10.00 €</span> puedes acceder a artículos exclusivos! Y mucho más</p>

<div class="d-flex justify-content-center">
    @Html.ActionLink("Actualizar a Premium", "Create", new { usr = User.FindFirstValue(ClaimTypes.NameIdentifier) }, new { @class = "btn btn-premium" })
</div>
<div class="d-flex justify-content-center m-5">
    <img src="~/css/estilos/imagenes/contactanos.jpeg" class="rounded" alt="naves"/>
</div>

